


.textMain {
    /*width: 70%;*/
    /*height: 40%;*/
    text-align: left;


}

.ptext {

    font-family: 'Gilroy Regular', sans-serif;
    color: white;
    font-size: 1.25rem;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    /*background: rgba(0, 0, 0, 0.5);*/
    padding: 5px 0 0 0;
}

.h3text {

    font-family: 'Cormorant Garamond', serif;
    color: white;
    text-align: left;
    font-weight: 700;
    font-size: 2.188rem;
    /*background: rgba(0, 0, 0, 0.5);*/
    text-transform: uppercase;

}
.pspan{
    padding-bottom: 0px;
}
span{
    padding: 10px 20px 7px 20px;
    background: rgba(0, 0, 0, 0.5);
    width: 120%;
    line-height: 1.7;
}



.buttonCarusel {
    all: unset;
    text-align: center;
    font-family: 'Gilroy Regular', sans-serif;
    text-transform: uppercase;

    font-size: 1rem;
    font-weight: normal;
    width: 19.125rem;
    height: 3.125rem;
    align-items: flex-start;
    background: #242424;
    color: #fff;
}
@media (min-width: 1023px) and (max-width: 1120px){

    .ptext {

        font-family: 'Gilroy Regular', sans-serif;
        color: white;
        font-size: 1rem;
        text-align: left;
        font-style: normal;
        font-weight: normal;
        /*background: rgba(0, 0, 0, 0.5);*/
        padding: 5px 0 0 0;
    }

    .h3text {

        font-family: 'Cormorant Garamond', serif;
        color: white;
        text-align: left;
        font-weight: 700;
        font-size: 2rem;
        /*background: rgba(0, 0, 0, 0.5);*/
        text-transform: uppercase;

    }
    .pspan{
        padding-bottom: 1px;
    }
    span{
        padding: 6px 20px 7px 20px;
        background: rgba(0, 0, 0, 0.5);
        width: 120%;
        line-height: 1.6;
    }
}

@media (min-width: 1900px){

    .buttonCarusel {
        all: unset;
        text-align: center;
        font-family: 'Gilroy Regular', sans-serif;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: normal;
        width: 306px;
        height: 50px;
        align-items: flex-start;
        background: #242424;
        color: #fff;
    }
    .pspan{
        padding-bottom:2px;

    }

    .ptext {

        font-family: 'Gilroy Regular', sans-serif;
        color: white;
        text-align: left;
        font-style: normal;
        font-weight: normal;
        /*background: rgba(0, 0, 0, 0.5);*/
        padding: 5px 0 0 0;
        font-size:  1.25rem;
    }

    .h3text {

        font-family: 'Cormorant Garamond', serif;
        color: white;
        text-align: left;
        font-weight: 700;
        /*background: rgba(0, 0, 0, 0.5);*/
        text-transform: uppercase;
        font-size: 2.188rem;

    }

    span{
        padding:8.77px 20px 8.83px 20px;
        background: rgba(0, 0, 0, 0.5);
        width: 120%;
        line-height: 1.7;
    }
}