.backCategories {
    background-image: url("/src/img/imgCategories/image 64.svg");
    background-color: #EBEBEB;
}

/*.textConsultation{*/
/*    font-size: 1rem;*/
/*}*/
.textConsultation {
    font-family: "Gilroy Regular", sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: normal;
}

.h2Text {
    font-size: 3.125rem;
    font-weight: 500;
}

.h2TextConsultation {
    font-size: 3.125rem;
    font-weight: bold;
}

.imgSofa {
    position: relative;
}

.textSofa {
    font-family: "Gilroy Regular", sans-serif;
    position: absolute;
    top: 18%;
    left: 10%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.875rem;
    font-weight: 500;

}

.textCupboard {
    font-family: "Gilroy Regular", sans-serif;
    position: absolute;
    top: 67%;
    left: 10%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.875rem;
    font-weight: 500;
}

.textBanquet {
    font-family: "Gilroy Regular", sans-serif;
    position: absolute;
    top: 91%;
    left: 10%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.875rem;
    font-weight: 500;

}

.imgCupboard {
    position: relative;
}

.textTable {
    font-family: "Gilroy Regular", sans-serif;
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.875rem;
    font-weight: 500;
}

.textKitchen {
    font-family: "Gilroy Regular", sans-serif;
    position: absolute;
    top: 55%;
    left: 10%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.875rem;
    font-weight: 500;
}

.textChairs {
    font-family: "Gilroy Regular", sans-serif;
    position: absolute;
    top: 91%;
    left: 10%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.875rem;
    font-weight: 500;
}

.buttonConsultation {
    width: 306px;
    height: 50px;
    border: 1px solid #000000;
    text-transform: uppercase;
    background: none;
    font-weight: 400;
    font-size: 1rem;
}

.buttonConsultation:hover {
    width: 306px;
    height: 50px;
    border: 1px solid #000000;
    text-transform: uppercase;
    background: #000000;
    color: white;
    font-weight: 400;
    font-size: 1rem;
}

@media (min-width: 1001px) and (max-width: 1200px) {
    .textSofa {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 19%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        font-weight: 500;

    }

    .textCupboard {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 67%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        font-weight: 500;
    }

    .textBanquet {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 91.5%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        font-weight: 500;

    }

    .imgCupboard {
        position: relative;
    }

    .textTable {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 30%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        font-weight: 500;
    }

    .textKitchen {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 55%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        font-weight: 500;
    }

    .textChairs {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 91.5%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        font-weight: 500;
    }
}

@media (min-width: 552px) and (max-width: 1000px) {
    .backCategories {
        background-image: none;
        background-color: #EBEBEB;
    }

    .imgSofa {
        position: relative;
    }

    .textSofa {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 18.5%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1rem;

    }

    .textCupboard {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 64.5%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1rem;
    }

    .textBanquet {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 89.5%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1rem;

    }

    .imgCupboard {
        position: relative;
    }

    .textTable {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 28%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1rem;
    }

    .textKitchen {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 54%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1rem;
    }

    .textChairs {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 89.5%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1rem;
    }

    .buttonConsultation {
        padding: 4px 0 4px 0;
        width: 206px;
        height: 40px;
        font-size: 0.75rem;
        border: 1px solid #000000;
        text-transform: uppercase;
        background: none;
        color: white;
        background: #242424;
        font-weight: 400;
    }

    .buttonConsultation:hover {
        padding: 4px 0 4px 0;
        width: 206px;
        height: 40px;
        font-size: 0.75rem;
        border: 1px solid #000000;
        text-transform: uppercase;
        background: none;
        color: #242424;
        background: none;
        font-weight: 400;
    }

    .h2TextConsultation {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .h2Text {
        font-size: 2.5rem;
    }
}

@media (max-width: 551px) {

    .h2Text {
        font-size: 1.875rem;
    }

    .backCategories {
        background-image: none;
        background-color: #EBEBEB;
    }

    .imgSofa {
        font-family: "Gilroy Regular", sans-serif;
        position: relative;
    }

    .textSofa {
        font-family: "Gilroy Regular", sans-serif;
        padding: 4px 0 4px 0;
        position: absolute;
        top: 10%;
        left: 13%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 0.688rem;

    }

    .textCupboard {
        font-family: "Gilroy Regular", sans-serif;
        padding: 4px 0 4px 0;
        position: absolute;
        top: 42%;
        left: 13%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 0.688rem;
    }

    .textBanquet {
        font-family: "Gilroy Regular", sans-serif;
        padding: 4px 0 4px 0;
        position: absolute;
        top: 59%;
        left: 13%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 0.688rem;

    }

    .imgCupboard {
        position: relative;
    }

    .textTable {
        font-family: "Gilroy Regular", sans-serif;
        padding: 4px 0 4px 0;
        position: absolute;
        top: 93%;
        left: 13%;
        color: white;
        background: rgba(0, 0, 0, 0.5);

        font-size: 0.688rem;
    }

    .textBed {
        font-family: "Gilroy Regular", sans-serif;
        padding: 4px 0 4px 0;
        position: absolute;
        top: 93%;
        left: 13%;
        color: white;
        background: rgba(0, 0, 0, 0.5);

        font-size: 0.688rem;
    }

    .textKitchen {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        padding: 4px 0 4px 0;
        top: 76%;
        left: 13%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 0.688rem;
    }

    .textChairs {
        font-family: "Gilroy Regular", sans-serif;
        padding: 4px 0 4px 0;
        position: absolute;
        top: 68%;
        left: 13%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 0.688rem;
    }

    .textChair {
        font-family: "Gilroy Regular", sans-serif;
        padding: 4px 0 4px 0;
        position: absolute;
        top: 42%;
        left: 13%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 0.688rem;
    }

    .textCommode {
        font-family: "Gilroy Regular", sans-serif;
        padding: 4px 0 4px 0;
        position: absolute;
        top: 17%;
        left: 13%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 0.688rem;
    }

    .buttonConsultation {
        font-family: "Gilroy Regular", sans-serif;
        padding: 4px 0 4px 0;
        width: 162px;
        height: 30px;
        font-size: 0.625rem;
        border: 1px solid #000000;
        text-transform: uppercase;
        background: none;
        color: white;
        background: #242424;
    }

    .buttonConsultation:hover {
        font-family: "Gilroy Regular", sans-serif;
        padding: 4px 0 4px 0;
        width: 162px;
        height: 30px;
        font-size: 0.625rem;
        border: 1px solid #000000;
        text-transform: uppercase;
        background: none;
        color: #242424;
        background: none;
    }

    .h2TextConsultation {

        font-style: normal;
        font-weight: bold;
        line-height: 140%;
        font-size: 1.875rem;

    }

    .textConsultation {

        font-family: "Gilroy Regular", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;

    }


}
