.footerBack{

    background-color:#242424;

    color: white;

    font-family: 'Gilroy Ultra Light', serif;
    font-size: 90%;

}
.textHelp{
    font-weight: 250;
    font-size: 0.7rem;

}
.textH2{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
   border-color: white;
    border-bottom: 1px;
    font-size: 0.85rem;
}
.textServices{
    text-transform: uppercase;
    font-weight: 600;


}
.line23{
    font-weight: normal;
}
.textPhone{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;

}
.textInfo{
    /*font-weight: 800;*/
    font-weight: 600;
    cursor: pointer;
    background: none;
}
hr {

    border: none; /* Убираем границу */
    background-color: white; /* Цвет линии */
    color: white; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
    justify-items: left;

}
.imgLogo{
    height: 137px;

}
.marginServices{
    margin-top: 0px;
}
@media (max-width: 1199px) {
    .marginServices{
        margin-top: 16px;
        padding-top: 16px;
    }
}