.footerBack {

    background-color: #242424;

    color: white;

    font-family: 'Gilroy Medium', serif;
    font-size: 90%;

}

.textHelp {
    font-family: 'Gilroy Ultra Light', sans-serif;
    font-style: normal;
    font-size: 0.75rem;

    font-weight: normal;
}
.textHelpBottom{
    font-family: 'Gilroy Ultra Light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
}

.textH2 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-style: normal;
    border-color: white;
    border-bottom: 1px;
    font-size: 0.875rem;
}

.textServices {
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    font-family: "Gilroy Regular", serif;
    line-height: 147%;

}
.textServicesFurniture{
    padding-top: 1.1px;
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    font-family: "Gilroy Regular", serif;
    line-height: 147%;
}

.line23 {
    font-weight: normal;
}

.textPhoneRing {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-size: 1rem;

}
.textAddressBold{
    background: none;
    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
}
.textAddress{

    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
}
.textPhone{

    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}
.textInfoPhone{

    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
}
.textInfo {
    /*font-weight: 800;*/
    font-weight: 500;

    font-size: 1rem;
    cursor: pointer;
    background: none;
}
.textInfo:hover {
    /*font-weight: 800;*/
    font-weight: 500;

    font-size: 1rem;
    cursor: pointer;
    background: none;
    text-decoration: underline;
}

hr {

    border: none; /* Убираем границу */
    background-color: white; /* Цвет линии */
    color: white; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
    justify-items: left;

}

.imgLogo {
    height: 137px;

}

.marginServices {
    margin-top: 0;
}

@media (max-width: 1199px) {
    .marginServices {
        /*margin-top: 16px;*/
        padding-top: 20px;
    }
    .textH2 {
        font-family: 'Cormorant Garamond', serif;
        font-weight: 500;
        font-style: normal;
        border-color: white;
        border-bottom: 1px;
        font-size: 0.7rem;
    }
}