.backCategories {

    /*background-color: #E5E5E5;*/
}

.imgHover {
    opacity: 0;
    /*transition: all 0.4s linear;*/
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.5);
    width: 92.1%;
    left: 16px;
    height: 34.5%;
    top: 22px;
    color: white;
    text-align: center;
}

.imgHoverChairs {
    opacity: 0;
    transition: all 0.4s linear;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.5);
    width: 92.1%;
    left: 15px;
    height: 34.2%;
    top: 63.5%;
    color: white;
    text-align: center;
}

.imgHoverChairs:hover {
    opacity: 1;
    transition: all 0.4s linear;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.5);
    width: 92.1%;
    left: 15px;
    height: 34.2%;
    top: 63.5%;
    color: white;
    text-align: center;
}

.imgHoverKitchen {
    opacity: 0;
    transition: all 0.4s linear;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.5);
    width: 92%;
    left: 15px;
    height: 22.2%;
    top: 39%;
    color: white;
    text-align: center;
}

.imgHoverKitchen:hover {
    opacity: 1;
    transition: all 0.4s linear;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.5);
    width: 92.2%;
    left: 15px;
    height: 22%;
    top: 39%;
    color: white;
    text-align: center;
}

.imgHoverTable {
    opacity: 0;
    transition: all 0.4s linear;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.5);
    width: 92.1%;
    left: 15px;
    height: 34.3%;
    top: 2.4%;
    color: white;
    text-align: center;
}

.imgHoverTable:hover {
    opacity: 1;
    transition: all 0.4s linear;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.5);
    width: 92.1%;
    left: 15px;
    height: 34.3%;
    top: 2.4%;
    color: white;
    text-align: center;
}

.imgHoverBanquet {
    opacity: 0;
    transition: all 0.4s linear;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.5);
    width: 92%;
    left: 15px;
    height: 22.2%;
    top: 75.45%;
    color: white;
    text-align: center;
}

.imgHoverBanquet:hover {
    opacity: 1;
    transition: all 0.4s linear;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.5);
    width: 92%;
    left: 15px;
    height: 22.2%;
    top: 75.45%;
    color: white;
    text-align: center;
}

.imgHoverBed {
    opacity: 0;
    transition: all 0.4s linear;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.5);
    width: 92%;
    left: 15px;
    height: 22.2%;
    top: 39%;
    color: white;
    text-align: center;
}

.imgHoverBed:hover {
    opacity: 1;
    transition: all 0.4s linear;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.5);
    width: 92.1%;
    left: 15px;
    height: 22%;
    top: 39%;
    color: white;
    text-align: center;
}

.imgHoverCupboard {
    opacity: 0;
    transition: all 0.4s linear;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.5);
    width: 92.1%;
    left: 15px;
    height: 46.4%;
    top: 26.8%;
    color: white;
    text-align: center;
}

.imgHoverCupboard:hover {
    opacity: 1;
    transition: all 0.4s linear;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.5);
    width: 92.1%;
    left: 15px;
    height: 46.4%;
    top: 26.8%;
    color: white;
    text-align: center;
}

.imgHoverSofa {
    opacity: 0;
    transition: all 0.4s linear;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.5);
    width: 92.1%;
    left: 15px;
    height: 22.2%;
    top: 2.3%;
    color: white;
    text-align: center;
}

.imgHoverSofa:hover {
    opacity: 1;
    transition: all 0.4s linear;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.5);
    width: 92.1%;
    left: 15px;
    height: 22.2%;
    top: 2.3%;
    color: white;
    text-align: center;
}

.imgHoverArmchair {
    opacity: 0;
    transition: all 0.4s linear;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.5);
    width: 92.1%;
    left: 15px;
    height: 34.2%;
    top: 63.5%;
    color: white;
    text-align: center;
}

.imgHoverArmchair:hover {
    opacity: 1;
    transition: all 0.4s linear;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.5);


    width: 92.1%;
    left: 15px;
    height: 34.2%;
    top: 63.5%;
    color: white;
    text-align: center;
}

.imgHover:hover {
    opacity: 1;
    transition: all 0.4s linear;
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.5);
    width: 92%;
    left: 15px;
    height: 34.2%;
    top: 24px;
    color: white;
    text-align: center;
}

.h3Hover {
    font-family: "Gilroy Regular", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    /*padding-top: 5rem;*/
}

.hrStyle {
    height: 2px;
    width: 40%;
}

.pTextHover {
    font-family: "Gilroy Regular", sans-serif;
    font-size: 1rem;

}

.furnitureText {

    opacity: 0.5;
    font-weight: 400;
}

.linkMain {
    font-family: "Gilroy Regular", sans-serif;
    color: #2B2A29;
    text-decoration: none;
    font-weight: 400;

}

.linkMain:hover {
    font-family: "Gilroy Regular", sans-serif;
    color: #2B2A29;
    text-decoration: none;
    font-weight: 400;

}

.textConsultation {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: normal;
}

.h2Text {
    font-size: 2.5rem;
    font-weight: 500;
}

.h2TextConsultation {
    font-size: 3.125rem;
    font-weight: bold;
}

.imgSofa {
    position: relative;
}

.textSofa {
    font-family: "Gilroy Regular", sans-serif;
    position: absolute;
    top: 19%;
    left: 10%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.875rem;
    font-weight: 500;

}

.textCupboard {
    font-family: "Gilroy Regular", sans-serif;
    position: absolute;
    top: 68%;
    left: 10%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.875rem;
    font-weight: 500;
}

.textBanquet {
    font-family: "Gilroy Regular", sans-serif;
    position: absolute;
    top: 92%;
    left: 10%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.875rem;
    font-weight: 500;

}

.imgCupboard {
    position: relative;
}

.textTable {
    font-family: "Gilroy Regular", sans-serif;
    position: absolute;
    top: 31%;
    left: 10%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.875rem;
    font-weight: 500;
}

.textComm {

    font-family: "Gilroy Regular", sans-serif;
    position: absolute;
    top: 31%;
    left: 10%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.875rem;
    font-weight: 500;
}

.textKitchen {
    font-family: "Gilroy Regular", sans-serif;
    position: absolute;
    top: 56%;
    left: 10%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.875rem;
    font-weight: 500;
}

.textChairs {
    font-family: "Gilroy Regular", sans-serif;
    position: absolute;
    top: 92%;
    left: 10%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.875rem;
    font-weight: 500;
}

.buttonConsultation {
    width: 306px;
    height: 50px;
    border: 1px solid #000000;
    text-transform: uppercase;
    background: none;
    font-weight: 400;
    font-size: 1rem;
}

@media (min-width: 1001px) and (max-width: 1200px) {
    .imgHover {
        opacity: 0;
        /*transition: all 0.4s linear;*/
        position: absolute;
        /*width: 100%;*/
        /*height: 100%;*/
        background-color: rgba(0, 0, 0, 0.5);
        width: 92%;
        left: 16px;
        height: 34.5%;
        top: 22px;
        color: white;
        text-align: center;
    }

    .imgHover:hover {
        opacity: 1;
        transition: all 0.4s linear;
        position: absolute;
        /*width: 100%;*/
        /*height: 100%;*/
        background-color: rgba(0, 0, 0, 0.5);
        width: 91%;
        left: 15px;
        height: 33.5%;
        top: 24px;
        color: white;
        text-align: center;
    }

    .h3Hover {
        font-family: "Gilroy Regular", sans-serif;
        font-size: 2.5rem;
        font-weight: 500;
        padding-top: 5rem;
    }

    .textSofa {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 19%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        font-weight: 500;

    }

    .textComm {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 31%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        font-weight: 500;
    }

    .textCupboard {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 68%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        font-weight: 500;
    }

    .textBanquet {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 92%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        font-weight: 500;

    }

    .imgCupboard {
        position: relative;
    }

    .textTable {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 31%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        font-weight: 500;
    }

    .textKitchen {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 56%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        font-weight: 500;
    }

    .textChairs {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 92%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        font-weight: 500;
    }
}

@media (min-width: 552px) and (max-width: 1000px) {
    .backCategories {
        background-image: none;
        background-color: #EBEBEB;
    }

    .imgSofa {
        position: relative;
    }

    .textSofa {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 18%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1rem;

    }

    .textCupboard {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 64%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1rem;
    }

    .textBanquet {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 89%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1rem;

    }

    .imgCupboard {
        position: relative;
    }

    .textTable {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 28%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1rem;
    }
    .textComm {

        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 28%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1rem;
    }

    .textKitchen {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 54%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1rem;
    }

    .textChairs {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        top: 89%;
        left: 10%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 1rem;
    }

    .buttonConsultation {
        padding: 4px 0 4px 0;
        width: 206px;
        height: 40px;
        font-size: 0.75rem;
        border: 1px solid #000000;
        text-transform: uppercase;
        background: none;
        color: white;
        background: #242424;
        font-weight: 400;
    }

    .h2TextConsultation {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .h2Text {
        font-size: 2.5rem;
    }
}

@media (max-width: 551px) {

    .h2Text {
        font-size: 1.875rem;
    }

    .backCategories {
        background-image: none;
        background-color: #EBEBEB;
    }

    .imgSofa {
        font-family: "Gilroy Regular", sans-serif;
        position: relative;
    }

    .textSofa {
        font-family: "Gilroy Regular", sans-serif;
        padding: 4px 0 4px 0;
        position: absolute;
        top: 10%;
        left: 13%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 0.688rem;

    }

    .textCupboard {
        font-family: "Gilroy Regular", sans-serif;
        padding: 4px 0 4px 0;
        position: absolute;
        top: 42%;
        left: 13%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 0.688rem;
    }

    .textBanquet {
        font-family: "Gilroy Regular", sans-serif;
        padding: 4px 0 4px 0;
        position: absolute;
        top: 59%;
        left: 13%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 0.688rem;

    }

    .imgCupboard {
        position: relative;
    }

    .textTable {
        font-family: "Gilroy Regular", sans-serif;
        padding: 4px 0 4px 0;
        position: absolute;
        top: 93%;
        left: 13%;
        color: white;
        background: rgba(0, 0, 0, 0.5);

        font-size: 0.688rem;
    }

    .textBed {
        font-family: "Gilroy Regular", sans-serif;
        padding: 4px 0 4px 0;
        position: absolute;
        top: 93%;
        left: 13%;
        color: white;
        background: rgba(0, 0, 0, 0.5);

        font-size: 0.688rem;
    }

    .textKitchen {
        font-family: "Gilroy Regular", sans-serif;
        position: absolute;
        padding: 4px 0 4px 0;
        top: 76%;
        left: 13%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 0.688rem;
    }

    .textChairs {
        font-family: "Gilroy Regular", sans-serif;
        padding: 4px 0 4px 0;
        position: absolute;
        top: 68%;
        left: 13%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 0.688rem;
    }

    .textChair {
        font-family: "Gilroy Regular", sans-serif;
        padding: 4px 0 4px 0;
        position: absolute;
        top: 42%;
        left: 13%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 0.688rem;
    }

    .textCommode {
        font-family: "Gilroy Regular", sans-serif;
        padding: 4px 0 4px 0;
        position: absolute;
        top: 17%;
        left: 13%;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 0.688rem;
    }

    .buttonConsultation {
        font-family: "Gilroy Regular", sans-serif;
        padding: 4px 0 4px 0;
        width: 162px;
        height: 30px;
        font-size: 0.625rem;
        border: 1px solid #000000;
        text-transform: uppercase;
        background: none;
        color: white;
        background: #242424;
    }

    .h2TextConsultation {

        font-style: normal;
        font-weight: bold;
        line-height: 140%;
        font-size: 1.875rem;

    }

    .textConsultation {

        font-family: "Gilroy Regular", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;

    }


}

.blockHover:hover .textComm {
    opacity: 0;
}

.blockHover:hover .textBanquet {
    opacity: 0;
}

.blockHover:hover .textChair {
    opacity: 0;
}

.blockHover:hover .textChairs {
    opacity: 0;
}

.blockHover:hover .textBed {
    opacity: 0;
}

.blockHover:hover .textCupboard {
    opacity: 0;
}

.blockHover:hover .textCommode {
    opacity: 0;
}

.blockHover:hover .textKitchen {
    opacity: 0;
}

.blockHover:hover .textTable {
    opacity: 0;
}

.blockHover:hover .textSofa {
    opacity: 0;
}