.headerBack {
    height: 122px;
    background-color: #4C4C4C;
    color: white;
    text-transform: uppercase;
    font-family: 'Gilroy Regular', serif;
    font-size: 1rem;
    font-weight: 400;
}

.selectLine {
    all: unset;
    padding-top: 3rem;
    line-height: 2;
    text-decoration-line: underline;
    /*text-decoration-thickness: 1px;*/

}
/*.linkHover:hover .hrStyle {*/
/*    opacity: 1;*/
/*}*/

/*.hrStyle {*/
/*    opacity: 0;*/
/*}*/
/*.hrStyleClick{*/
/*    opacity: 1;*/
/*    font-family: 'Gilroy Medium', sans-serif;*/
/*}*/



select {
    cursor: pointer;
    background-color: #4C4C4C;
    color: white;
    border: #4C4C4C;
    text-decoration-line: underline;
}

.headerInputBack {
    color: #4C4C4C;
    height: 122px;
    background: #2E2E2E;
    /*opacity: 0.8;*/
    text-transform: uppercase;
    font-family: 'Gilroy Regular', serif;
    font-weight: 400;
    font-size: 1rem;
}
/*.inputTransition{*/
/*    transition: all 0.4s linear;*/
/*}*/
.inputHeader {
    transition: all 0.5s linear;
    width: 292px;
    height: 42px;
    background-color: #4C4C4C;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;

    overflow: hidden;


}
.divInputHeader{
    transition: all 4s linear;
 }

.selectHeader {

    cursor: pointer;
    font-family: 'Gilroy Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    position: relative;
    display: flex;
    text-decoration-line: underline;
    text-transform: none;
    text-underline-offset: 3px
}

/*.selectUl {*/

/*    font-weight: 400;*/
/*    padding-left: 1rem;*/
/*    font-size: 1rem;*/
/*    color: rgb(192, 192, 192);*/
/*    width: 196px;*/
/*    height: 93px;*/
/*    background-color: #5C5C5C;*/
/*    position: absolute;*/
/*    top: 20px;*/
/*    z-index: 2;*/
/*    text-decoration-line: underline;*/
/*}*/


/*.selectUl.active {*/
/*    display: block*/
/*}*/

/*.selectUl.close {*/
/*    display: none*/
/*}*/
.linkHover{
    font-family: 'Gilroy Medium', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 17px;
    text-underline-offset: 6px;
    text-decoration-line: underline;
}

.selectLI {
    margin-bottom: 10px;
    list-style-type: none;
    color: white;
    /*color: firebrick;*/
}

.selectLI:first-child {
    margin-top: 15px;
    /*color: #E5E5E5;*/
    color: white;
    opacity: 0.5;

}
.selectLISpb{
    margin-bottom: 10px;
    list-style-type: none;
    color: white;
    opacity: 0.5;
}
.selectLISpb:first-child {
    margin-top: 15px;
    color: white;
    opacity: unset;

}


.selectLI:hover {
    list-style-type: none;

}

.selectSpan {
    /*text-decoration: underline;*/
    border-bottom: 1px solid white;

    background: none;
    padding: 0;

}

.selectSpan:hover {
    padding: 0;
    background: none;
    color: white;

}

.iconSize {
    font-size: 0.5rem;
    font-weight: bold;
    font-family: 'Gilroy Regular', sans-serif;
}
.selectDarkiconSize{
    font-size: 0.5rem;
    font-weight: bold;
    font-family: 'Gilroy Regular', sans-serif;

}

@media (max-width: 1299px) {
    .headerBack {
        height: 122px;
        background-color: #4C4C4C;
        color: white;
        text-transform: uppercase;
        font-family: 'Gilroy Regular', serif;
        font-weight: 400;
        font-size: 80%;

    }
    .linkHover{
        font-family: 'Gilroy Medium', sans-serif;
        font-weight: 400;
        font-size: 99%;
        /*padding-bottom: 1px;*/
    }
}

.imgInput {
    height: 25px;
    width: 25px;
    padding-top: 10px;

    cursor: pointer;
}

.imgSize {
    height: 6rem;

}

.imgDark {
    position: relative;

}

.divDark {
    position: absolute;
    height: 100%;
    width: 160px;
    background-color: #2E2E2E;
    opacity: 0.8;
}

.selectLine {

    text-decoration-line: underline;
    /*text-decoration-thickness: 1px;*/

}

.selectDark {
    background-color: #2E2E2E;
    color: #4C4C4C;
}

.selectDarkInput {
    background-color: #2E2E2E;
    color: #4C4C4C;
    text-transform: none;
    pointer-events: none;


}
.selectDarkText {
    background-color: #2E2E2E;
    color: #4C4C4C;
    text-transform: none;
    pointer-events: none;
    text-decoration-line: underline;
    text-underline-offset: 3px;
    font-size: 0.875rem;
}




select {

    cursor: pointer;
    background-color: #4C4C4C;
    color: white;
    border: #4C4C4C;
    text-decoration-line: underline;
}


.displayDiv {
    height: 42px;
    width: 0.4px;
    opacity: 0;
    margin-right: -35px;

}

.linkStyle {
    color: white;
    text-decoration-line: none;
}

.linkStyle:hover {
    color: white;
    text-decoration-line: underline;
    text-underline-offset: 6px;

}

.linkStyleDark {
    color: #4C4C4C;
    pointer-events: none;

}

.linkStyleDark:hover {
    color: #4C4C4C;
}