.h2Text {

    font-weight: 500;
    font-size: 3.125rem;
    font-family: "Cormorant Garamond", sans-serif;
    font-style: normal;
}

.textPrice {
    display: grid;
    align-content: space-between;

    font-family: "Gilroy Regular", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}

.textName {
    font-family: "Gilroy Regular", sans-serif;
    font-size: 1.25rem;
    min-height: 69px;
}

.textNumber {
    display: block;
    width: 100%;
    font-family: "Gilroy Regular", sans-serif;
    font-size: 1.25rem;
    background: none;
    padding: 0 0 0 0;
}

.textSale {
    text-decoration: line-through;
    font-size: 1rem;
    opacity: 0.8;
}

.buttonWueAll {
    all: unset;
    background: #2B2A29;
    color: white;
    width: 196px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem; border: 1px solid #2B2A29;

}
.buttonWueAll:hover {
    all: unset;
    background: none;
    color: #242424;
    width: 196px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    border: 1px solid #000000;

}

.buttonLastWorks {
    background: none;
    color: #242424;
    width: 196px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    border: 1px solid #000000;
}
.buttonLastWorks:hover {
    all: unset;
    background: #2B2A29;
    color: white;
    width: 196px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
}

.spanNumber {
    display: none;
    background: none;
    padding: 0 0 0 0;
}

@media (max-width: 550px) {
    .h2Text {

        font-weight: 400;
        font-size: 1.875rem;
        font-family: "Cormorant Garamond", sans-serif;
        font-style: normal;
        margin-top: -26px;
    }

    .textPrice {
        font-family: "Gilroy Regular", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 0.875rem;
        margin-top: -10px;


    }

    .textName {
        font-family: "Gilroy Regular", sans-serif;
        font-size: 0.875rem;
        min-height: 57px;
    }

    .textNumber {
        font-family: "Gilroy Regular", sans-serif;
        font-size: 0.875rem;
    }

    .textSale {
        display: none;
        text-decoration: line-through;
        font-size: 1rem;
        opacity: 0.8;
    }

    .buttonWueAll {
        all: unset;
        background: #2B2A29;
        color: white;
        width: 162px;
        height: 30px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.625rem;
        border: 1px solid #2B2A29;


    }
    .buttonWueAll:hover {
        all: unset;
        background: none;
        color: #242424;
        width: 162px;
        height: 30px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.625rem;
        border: 0px solid #000000;


    }


    .buttonLastWorks {
        background: none;
        color: #242424;
        width: 162px;
        height: 30px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.625em;
        border: 1px solid #000000;
    }

    .buttonLastWorks:hover {
        border: 0px solid #000000;
        background: #2B2A29;
        color: white;
        width: 162px;
        height: 30px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.625em;

    }

    .spanNumber {
        display: none;
        background: none;
        padding: 0 0 0 0;
    }

}

@media (min-width: 551px)and (max-width: 1000px) {
    .h2Text {
        font-weight: 400;
        font-size: 2.5rem;
        font-family: "Cormorant Garamond", sans-serif;
        font-style: normal;
    }

    .textName {
        font-family: "Gilroy Regular", sans-serif;
        /*font-size:0.875rem;*/
        background: none;
        min-height: 30px;
    }

    .textSale {
        display: none;
        text-decoration: line-through;
        font-size: 1rem;
        opacity: 0.8;
    }

    .textPrice {
        font-family: "Gilroy Regular", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }

    .textNumber {
        font-family: "Gilroy Regular", sans-serif;
        display: none;
    }

    .spanNumber {
        display: unset;
        background: none;
        padding: 0 0 0 0;
    }
}