span{
    padding: 0px 20px 0px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    width: 120%;

}
mark{
    color: white;
}
.buttonCaruselMob {
    all: unset;
    text-align: center;
    font-family: 'Gilroy Ultra Light', sans-serif;
    text-transform: uppercase;
    font-size: 0.625rem;
    font-weight: normal;
    width: 162px;
    height: 30px;
    align-items: flex-start;
    background: #242424;
    color: #fff;
    margin-bottom: 11px;
}
.pspanMob{
    padding-bottom:4px;

}
.ptextMob {
    line-height: 140%;
    font-family: 'Gilroy Ultra Light', sans-serif;
    color: white;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    /*background: rgba(0, 0, 0, 0.5);*/
    padding: 5px 0 0 0;
    font-size: 0.563rem;
}

.h3textMob {
    line-height: 140%;
    font-family: 'Cormorant Garamond', serif;
    color: white;
    text-align: left;
    font-weight: bold;
    /*background: rgba(0, 0, 0, 0.5);*/
    text-transform: uppercase;
    font-size: 0.938rem;
    padding-top: 3rem;

}

@media (max-width: 365px) {
    .buttonCaruselMob {
        all: unset;
        font-family: 'Gilroy Ultra Light', sans-serif;
        text-transform: uppercase;

        text-align: center;
        font-size: 0.6rem;
        font-weight: normal;
        width: 162px;
        height: 30px;
        align-items: flex-start;
        background: #242424;

        color: #fff;
        margin-bottom: 11px;
    }
    .pspanMob{
        padding-top: 3px;
        padding-bottom:3.2px;
        line-height: 158%;
    }
    .ptextMob {

        font-family: 'Gilroy Ultra Light', sans-serif;
        color: white;
        text-align: left;
        font-style: normal;
        font-weight: normal;
        /*background: rgba(0, 0, 0, 0.5);*/
        padding: 5px 0 0 0;
        font-size: 0.6rem;
    }

    .h3textMob {

        font-family: 'Cormorant Garamond', serif;
        color: white;
        text-align: left;
        font-weight: bold;
        /*background: rgba(0, 0, 0, 0.5);*/
        text-transform: uppercase;
        font-size: 0.8rem;
        padding-top: 1rem;
    }
    span{
        padding: 0px 20px 0px 0px;
        background-color: rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        width: 120%;
        line-height: 1;
    }
    .h3spanMob{

        padding:  0.8px 20px 0.8px 20px;
        background-color: rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        width: 120%;
        line-height: 140%;
    }
    .spanMob{
        padding: 0.8px 20px 0.8px 20px;
        background-color: rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        width: 120%;
        line-height: 140%;
    }
}
@media (min-width: 366px) and (max-width: 766px) {
    .h3spanMob{

        padding:  1.75px 20px 1.75px 20px;
        -webkit-padding:  1px 20px 1px 20px;
        background-color: rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        width: 120%;
        line-height: 143%;
    }
    .ptextMob {

        font-family: 'Gilroy Regular', sans-serif;
        color: white;
        text-align: left;
        font-style: normal;
        font-weight: 500;
        /*background: rgba(0, 0, 0, 0.5);*/
        /*padding: 1.6rem 0 1.3rem 0;*/
        font-size: 0.563rem;

    }
    .pspanMob{
        padding-top: 3px;
        padding-bottom: 2px;
        line-height: 178%;
    }
    .spanMob{

        padding: 0.8px 20px 0.8px 20px;
        -webkit-padding: 0px 20px 0px 20px;
        background-color: rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        width: 120%;
        line-height: 140%;
    }
    .ptextMob {

        font-family: 'Gilroy Regular', sans-serif;
        color: white;
        text-align: left;
        font-style: normal;
        font-weight: 500;
        /*background: rgba(0, 0, 0, 0.5);*/
        padding: 0.6rem 0 0.3rem 0;
        font-size: 0.563rem;

    }
}

@media (min-width: 767px ) {
    .buttonCaruselMob {
        all: unset;
        text-align: center;
        font-family: 'Gilroy Ultra Light', sans-serif;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: normal;
        width: 205px;
        height: 40px;
        align-items: flex-start;
        background: #242424;

        color: #fff;
        margin-bottom: 11px;
    }
    .pspanMob{
        padding-bottom:3px;
        line-height: 140%;
    }
    .ptextMob {

        font-family: 'Gilroy Regular', sans-serif;
        color: white;
        text-align: left;
        font-style: normal;
        font-weight: 500;
        /*background: rgba(0, 0, 0, 0.5);*/
        padding: 1.6rem 0 1.3rem 0;
        font-size: 1rem;

    }

    .h3textMob {

        font-family: 'Cormorant Garamond', serif;
        color: white;
        text-align: left;
        font-weight: bold;
        /*background: rgba(0, 0, 0, 0.5);*/
        text-transform: uppercase;
        font-size: 1.875rem;
        padding-top: 17rem;

    }
    .h3spanMob{
        padding: 4.6px 20px 0.2px 20px;
        background-color: rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        width: 120%;
        line-height: 140%;
    }
    .spanMob{
        padding: 1.95px 20px 1.95px 20px;
        background-color: rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        width: 120%;
        line-height: 140%;
    }

}