.btnCata1 {
    all: unset;
    text-align: center;

    width: 162px;
    height: 30px;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    text-transform: uppercase;
    background-color: white;
    font-size: 0.7rem;

}

.h3text {
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
}

.ptext {

    font-family: 'Gilroy Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
}

.btnCata2 {
    all: unset;
    text-align: center;
    text-transform: uppercase;
    width: 162px;
    height: 30px;
    color: white;
    font-weight: 400;
    font-size: 0.7rem;
    background: #4C4C4C;
}

.ptextTablet {
    font-family: 'Gilroy Regular', sans-serif;
    font-size: 0.875rem;
}

.btnTablet1 {
    all: unset;
    text-align: center;

    width: 205px;
    height: 40px;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    text-transform: uppercase;
    background-color: white;
    font-size: 0.75rem;

}

.btnTablet2 {
    all: unset;
    text-align: center;
    text-transform: uppercase;
    width: 205px;
    height: 40px;
    color: white;
    font-weight: 400;
    font-size: 0.75rem;
    background: #4C4C4C;
}

.h3Tablet {
    font-weight: 400;
    font-size: 1.875rem;
}