
.pWeigth{
    font-family: "Gilroy Ultra Light", sans-serif;
    font-weight: 400;
}
body{
    font-family: "Gilroy Regular", sans-serif;
}

h3 {
    font-family: 'Cormorant Garamond', serif;

}

h2 {
    font-family: 'Cormorant Garamond', serif;


}

.carouselStyle .carousel-indicators {
    display: none;

}

.carouselStyle .carousel-control-next-icon {
    background-image: url("img/imgHeader/Vector.svg");
    width: 14px;
    height: 29px;
    margin-left: 53%;
}

.carouselStyle .carousel-control-prev-icon {
    background-image: url("img/imgHeader/Vector (1).svg");
    width: 14px;
    height: 29px;
    margin-right: 53%;
}

.carouselStyle .carousel-control-next, .carousel-control-prev {
    opacity: 90;
}

.carouselStyle .carousel-control-prev, .carousel-control-next {
    opacity: 90;
}

/*img {*/
/*    cursor: pointer;*/
/*}*/
/*.noPoint{*/
/*    cursor: unset;*/
/*}*/
link{
    cursor: pointer;
}

.selectUl {

    font-weight: 400;
    padding-left: 1rem;
    font-size: 1rem;
    color: rgb(192, 192, 192);
    width: 196px;
    height: 93px;
    background-color: #5C5C5C;
    position: absolute;
    top: 20px;
    z-index: 2;
    /*text-decoration-line: underline;*/
}

.selectUl.active {
    display: block
}

.selectUl.close {
    display: none
}
@media (max-width: 1314px) {
    .selectUl {

        font-weight: 400;
        padding-left: 1rem;
        font-size: 1rem;
        color: rgb(192, 192, 192);
        width: 110px;
        height: 110px;
        background-color: #5C5C5C;
        position: absolute;
        top: 20px;
        z-index: 2;
        text-decoration-line: underline;
    }
    .selectUl.active {
        display: block
    }

    .selectUl.close {
        display: none
    }
}

/*burger*/
.headerBurger {
    display: block;
    position: relative;
    width: 24.06px;
    height: 21.2px;
    margin-left: 24px;
    /*margin-top: 16px;*/
    background: none;
}
.headerBurger:before,
.headerBurger:after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2.19px;
    left: 0;
    transition: all 0.3s ease 0s;
    z-index: 5;
}

.headerBurger:before {
    top: 0
}

.headerBurger:after {
    bottom: 0;

}
.headerBurger span {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2.19px;
    left: 0;
    top: 9.2px;
    transition: all 0.3s ease 0s;
    padding: 0 0 0 0;
}
.headerBurger.active:before {
    transform: rotate(45deg);
    top: 10px
}

.headerBurger.active:after {
    transform: rotate(-45deg);
    bottom: 10px;

}

.headerBurger.active span {
    transform: scale(0);
    background: none;
    padding: 0 0 0 0;
}
.headerMenu {
    opacity: 0;
    margin: -100% 0 0 0px;
    position: fixed;
    top: 0%;
    left: 0;
    /*width: 100%;*/
    height: 80%;
    background-color: #FAFAFA;
    z-index: 3;
    display: flex;
    font-size: 1.3rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    transition: all 4s ease-in-out;



}
.headerMenu.is-nav-open{
    margin: 0 0 0 0px;
    position: relative;
    top: 0;
    opacity: 1;
    display: block;
    transition: all 4s ease-in-out;
    background: #4C4C4C;
    color: #FFFFFF;
    height: 80%;
    animation: slideOut 1s;

}
@keyframes slideOut {
    from {
       opacity: 0;

    }
    to {
      opacity: 1;

    }
}
.burgerUl{
    cursor: pointer;

}
.burgerUl.active {
    display: block
}

.burgerUl.close {
    display: none
}