

.pBold{


}
h3{
    font-family: 'Cormorant Garamond', serif;

}
h2{
    font-family: 'Cormorant Garamond', serif;


}
.carouselStyle .carousel-indicators {
    display: none;

}

.carouselStyle .carousel-control-next-icon {
    background-image: url("img/imgHeader/Vector.svg");
    width: 14px;
    height: 29px;
    margin-left: 53%;
}

.carouselStyle .carousel-control-prev-icon {
    background-image: url("img/imgHeader/Vector (1).svg");
    width: 14px;
    height: 29px;
    margin-right: 53%;
}

.carouselStyle .carousel-control-next, .carousel-control-prev {
    opacity: 90;
}

.carouselStyle .carousel-control-prev, .carousel-control-next {
    opacity: 90;
}


