@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@font-face {
    font-family: 'Gilroy Ultra Light';

    src: url('components/utils/fonts/Gilroy-UltraLight.eot');
    src: url('components/utils/fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('components/utils/fonts/Gilroy-UltraLight.woff') format('woff'),
    url('components/utils/fonts/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}